@font-face {
    font-family: "nunito";
    src: url("Nunito-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    font-family: "nunito"
}

body {
    background-color: aliceblue;
    padding: 0;
    margin: 0
}

/*Header */

header {
    display: flex;
    background-color: gainsboro;
    align-items: center;

}

header h1 {
    font-size: 1.5rem;
    margin-left: 2rem
}

header nav {
    margin-left: auto;
    margin-right: 3rem;
    padding: 0.5rem 0 0.5rem
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem
}

header nav ul li {
    display: block
}

header nav ul a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    color: black
    
}

.new-entry-button {
    background-color: black;
    border-radius: 12px;
    color: white;
    transition: 0.2s
}

.new-entry-button:hover {
    background-color: aliceblue;
    color: black;
    box-shadow: 0px 0px 2px 2px;
}

.new-entry-button:active {
    background-color: black;
    color: white
}


#vault-button {
    transition: 0.2s;
    border-bottom: solid 2px transparent
}

#vault-button:hover {
    color: aliceblue;
    border-bottom: solid 2px aliceblue
}


/*Footer */

footer {
    display: flex
}

footer h6 {
    margin-left: 2rem
}

footer ul {
    display: flex;
    margin-left: auto;
    margin-right:3rem;
    list-style: none;
    gap: 1rem

}

footer ul a {
    text-decoration: none;
    color: black
}

