.entry-box {
    max-width: 70%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#new-entry-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    width: 90%;
    margin-bottom: 3rem;
}

#new-entry-form > * {
    padding: 1rem
}

#title {
    background-color:rgba(0, 0, 0, 0);
    border:none;
    height: 8rem;
    font-size: 6rem;
}

#title:focus {
    outline: none
}

#entry-body {
    height: 30rem;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    resize: none

}

#entry-body:focus {
    outline:none
}

.controls {
    width: 80%;
    display:flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.controls > * {
    cursor: pointer;
}

#entry-button {
    font-size: 1.3rem;
    padding: 0.5rem;
    background-color: black;
    color:white;
    border: none;
    border-radius: 12px;
    transition: 0.2s;
}

#entry-button:hover {
    background-color: aliceblue;
    color: black;
    box-shadow: 0px 0px 2px 2px;
}

#entry-button:active {
    background-color: black;
    color: white
}

#discard-button {
    font-size: 1.3rem;
    padding: 0.5rem;
    border: none;
    color: rgb(107, 110, 114);
    background-color:rgba(0, 0, 0, 0);
    transition: 0.2s;
    border-bottom: solid 2px transparent
}

#discard-button:hover {
    border-bottom: solid rgb(107, 110, 114) 2px
}