
/*front page cards*/

.title-box {
    max-width: 70%;
    margin: 5rem auto;
}

.title-box h2 {
    font-size: 3.5rem;
}

.title-box p {
    color: rgb(107, 110, 114)
}

.card-box {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 8rem auto;
    grid-template-areas: 
    "first first second"
    "third fourth fourth"
    "last last last";
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem
}

.card {
    padding: 5rem;
    border-radius: 10px

}

.first {
    grid-area: first;
    background-color: white; 
}

.second {
    grid-area: second;
    background-color:gainsboro;
}

.third {
    grid-area: third;
    background-color: white;
}

.fourth {
    grid-area: fourth;
    background-color: gainsboro;
}

.last {
    grid-area: last;
    background-color: white;
}

