* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    padding: 0;
    margin: 0
}

/*Header */

header {
    display: flex;
    background-color: gainsboro;
    align-items: center;

}

header h1 {
    font-size: 1.5rem;
    margin-left: 2rem
}

header nav {
    margin-left: auto;
    margin-right: 3rem
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem
}

header nav ul a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    display: block;
    color: black
    
}

.new-entry-button {
    background-color: black;
    border-radius: 12px;
    color: white
    
}

/*front page cards*/

.title-box {
    max-width: 70%;
    margin: 5rem auto;
}

.title-box h2 {
    font-size: 3.5rem;
}

.title-box p {
    color: rgb(107, 110, 114)
}

.card-box {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 8rem auto;
    grid-template-areas: 
    "first first second"
    "third fourth fourth"
    "last last last";
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem
}

.card {
    padding: 5rem;
    border-radius: 10px

}

.first {
    grid-area: first;
    background-color: white; 
}

.second {
    grid-area: second;
    background-color:gainsboro;
}

.third {
    grid-area: third;
    background-color: white;
}

.fourth {
    grid-area: fourth;
    background-color: gainsboro;
}

.last {
    grid-area: last;
    background-color: white;
}

/*Footer */

footer {
    display: flex
}

footer h6 {
    margin-left: 2rem
}

footer ul {
    display: flex;
    margin-left: auto;
    margin-right:3rem;
    list-style: none;
    gap: 1rem

}

footer ul a {
    text-decoration: none;
    color: black
}

