.header-box {
    width: 70%;
    margin: 5rem auto
}

.header-box h1 {
    font-size: 3.5rem;
    font-weight: 700
}

.header-box p {
    color: rgb(107, 110, 114);
    width: 50%
}

.card-box {
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem auto;
    gap: 1.8rem;

}

.entry-card {
    padding: 1rem;
    border-radius: 10px;
    background-color: gainsboro;
    width: 100%;
    min-height: 15rem;
    box-shadow: 0px 5px 9px 1px rgb(197,197,197)
}
.entry-card h4 {
    font-size: 1.8rem;
}

.entry-card p {
    font-size: 1.2rem;
    color: rgb(63, 63, 63)
}

.mood {
    max-width: max-content;
    margin-top: 2rem;
    min-width: 4rem;
    text-align:center;
    border-radius: 8px;
    padding: 0.7rem
}

.happy {
    background-color: blanchedalmond;
}

.pensive {
    background-color: cornflowerblue;
}

.choleric {
    background-color: lightcoral;
}

.satisfied {
    background-color: palegreen;
}

.melancholic {
    background-color: lightslategray;
}

/*Empty entries case*/

.empty-card {
    padding: 1rem;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-card > * {
    text-align: center;
}

.empty-card a {
    background-color: black;
    border-radius: 12px;
    color: white;
    transition: 0.2s;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-top: 1.5rem
}

.empty-card a:hover {
    background-color: aliceblue;
    color: black;
    box-shadow: 0px 0px 2px 2px;
}

.deleteButton {
    background-color: black;
    border-radius: 12px;
    color: white;
    transition: 0.2s;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-top:2rem;
    border:none
}

.deleteButton:hover {
    background-color: aliceblue;
    color: red;
    box-shadow: 0px 0px 2px 2px;
}